{% extends 'base.html.twig' %}

{% block body %}
    <section class="home">
    <h2>DreamShare - Explore Life's Ultimate Adventures</h2>
    <p>Welcome to DreamShare, the platform where dreams meet reality! DreamShare is where you can unleash your wildest aspirations and share them with the world. Here, users have their own page equipped with fields necessary for input. We're all about those once-in-a-lifetime bucket list items, those exhilarating,
        daring dreams you want to achieve before you bid adieu to this world.</p>
        <p>DreamShare is the place exclusively dedicated to sharing 'Wishes' — those extraordinary feats one dreams of accomplishing at least once in a lifetime. Our community thrives on the exchange of these awe-inspiring aspirations, motivating each other to chase the extraordinary. Here, everyone can see each other's 'Wishes',
            fostering a sense of community and inspiration.</p>
        <p>All 'Wishes' are displayed on a dedicated page, a melting pot of daring dreams and inspiring feats. No tracking, no obligations,
            just the pure joy of sharing and celebrating life's ultimate adventures.</p>
        <p>Join DreamShare today and dive into a world of limitless possibilities!</p>
    </section>
{% endblock %}

{% block title %} {{ parent() }} | Home{% endblock %}