{% extends 'base.html.twig' %}

{% block body %}
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim laborum magni ratione saepe ullam! Ad alias, aut cum deserunt dolor dolore in iste nemo nesciunt nostrum perspiciatis quasi quidem rem tempora tempore, velit voluptate. Adipisci at consequatur, dicta eum, facere hic ipsam modi nesciunt officia perferendis placeat recusandae tempore! Explicabo.</p>


{% endblock %}

{% block title %} {{ parent() }} | Home{% endblock %}