{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {# afficher le formulaire de creation #}
        <h2>En cours de construction revenez plus tard !</h2>
    </div>

{% endblock %}

{% block title %}
    Create new todo | {{ parent() }}

{% endblock %}