{% extends 'base.html.twig' %}

{% block body %}
    <section class="create">
    <div>

        <h2>Add your wishes !</h2>
        {{form_start(wishForm)}}

        {{ form_widget(wishForm) }}

        <button>Create !</button>

        {{ form_end(wishForm) }}
    </div>
    </section>
{% endblock %}

{% block title %}
    Add your wishes ! | {{ parent() }}

{% endblock %}