{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le détail de la todo | {{ parent() }}

{% endblock %}

{% block body %}
    <h2>todo: le titre de la todo</h2>
    {# afficher toutes les infos de la series #}

{% endblock %}